<%- include('partials/header') %>


  <section id="home">
    <i style="left:60px" class="fas fa-lemon icon"></i>
    <i style="right:60px" class="fas fa-bars icon"></i>
    <div class="container">
      <div class="left">
        <h1 class="display-3">Lime is a <strong>zesty</strong><br />social media<br />platform</h1>
        <a style="margin-right: 10px;" class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
      <img id="lime" src="http://pngimg.com/uploads/lime/lime_PNG52.png" width="60%" alt="">
    </div>
  </section>

<%- include('partials/footer') %>
